<section class="container favorites">
  <div class="container-favorites">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Looking for something delicious?</p>

    <ul class="favorites-list list">
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/gamburger.png"
          alt="gamburger"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/Pasta.png"
          alt="pasta"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/pizza.png"
          alt="pizza"
          width="315"
          height="315"
        />
      </li>

      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/chicken.png"
          alt="chicken"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/salat.png"
          alt="salad"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./img/borshch.png"
          alt="borshch"
          width="315"
          height="315"
        />
      </li>
    </ul>
  </div>
</section>
