<header class="header">
    <div class="container header-container">
        <a class="header-logo-link link" href="./index.html">
            <img src="" alt="logo" width="66" height="52" />
        </a>
        <nav class="header-nav">
            <ul class="nav-list list">
                <li class="header-item">
                    <a class="header-link link" href="">Home</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="">About</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="">Service</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="">Menu</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="">Order</a>
                </li>
            </ul>
        </nav>
        <button class="header-button" type="button" data-first-modal-open>Order now</button>
    </div>
</header>